<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>iPort Personal Portfolio | Personal Resume</title>
		<meta name="description" content="Hello, my name is iPort and I am a Personal Portfolio!">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		
		<!-- Remix Icons -->
		<link rel="stylesheet" type="text/css" href="fonts/remixicon.css">
		<!-- Bootstrap Grid -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Aos Animate -->
		<link rel="stylesheet" href="css/aos.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="css/styles-light.css">

		<style>
			main {overflow-x: hidden;}
		</style>
		
	</head>
	<body>
		<!-- Menubar -->
		<header class="menu-header">
			<div class="container position-relative">
				<nav class="navbar navbar-expand-lg position-absolute align-items-baseline">
					<a class="navbar-brand d-lg-none" href="#">iPort</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link pl-lg-0" href="#">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Experiences</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Specialties</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Hobbies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a href="mailto:iport@gmail.com" class="nav-link"><small><i class="ri-mail-open-line"></i> iport@gmail.com</small></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- End Menubar -->
		
		<main>
			
			<!-- Home Section -->
			<section class="home d-flex align-items-center position-relative min-vh-100" id="home">
				<!-- Background Image -->
				<img src="img/header-1440x600-light.jpg" alt="iPort Image" class="background-image" draggable="false">
				
				<div class="container">
					<div class="row d-flex align-items-center">
						<div class="col-sm-6">
							<span>My name is</span>
							<h1 class="main-title display-1 font-weight-bold">iPort</h1>
							<p>And I am a <strong>Personal Portfolio</strong>!</p>
							<div class="social">
								<a href="#" class="facebook normal-link mr-2" target="_blank">
									<i class="ri-facebook-circle-fill"></i>
								</a>
								<a href="#" class="instagram normal-link mr-2" target="_blank">
									<i class="ri-instagram-fill"></i>
								</a>
								<a href="#" class="twitter normal-link mr-2" target="_blank">
									<i class="ri-twitter-fill"></i>
								</a>
							</div>
							<a href="javascript:void(0)" class="scroll">More ?</a>
						</div>
						<div class="col-sm-6 text-sm-right">
							<strong class="d-block">
								<q>Always do what you are afraid to do!</q>
							</strong>
							<img src="img/signature.png" alt="My Signature" title="Signature" class="signature mt-2">
						</div>
					</div>
				</div>
			</section>
			<!-- End Home Section -->

			<!-- About Section -->
			<section class="about my-5 pt-5">
				<div class="container">
					<div class="row">
						<div class="col-md-6" data-aos="fade-right">
							<img src="img/about-600x800.jpg" alt="About Me" title="About Me" class="img-fluid" />
						</div>
						<div class="col-md-6" data-aos="fade-left">
							<span class="small d-block mt-3">Find out more</span>
							<h2 class="display-4 font-weight-bold mb-4">About Me</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, sed repudiandae odit deserunt, quas quibusdam necessitatibus nesciunt eligendi esse sit non reprehenderit quisquam asperiores maxime blanditiis culpa vitae velit. Numquam!</p>
							<strong class="lead text-secondary mt-5 d-block">Education:</strong>

							<!-- Education Item -->
							<div class="education">
								<div class="year">2020</div>
								<div class="line"></div>
								<div class="location">
									<span>P.hD of Interaction Design & Animation</span>
									<span>Harvard University</span>
								</div>
							</div>
							<!-- End Education Item -->

							<!-- Education Item -->
							<div class="education">
								<div class="year">2016</div>
								<div class="line"></div>
								<div class="location">
									<span>Master of Database Administration</span>
									<span>Oxford University</span>
								</div>
							</div>
							<!-- End Education Item -->

							<!-- Education Item -->
							<div class="education">
								<div class="year">2010</div>
								<div class="line"></div>
								<div class="location">
									<span>Bachelor of Computer Engineering</span>
									<span>Kabul University</span>
								</div>
							</div>
							<!-- End Education Item -->

							<!-- Education Item -->
							<div class="education">
								<div class="year">2005</div>
								<div class="line"></div>
								<div class="location">
									<span>Diploma of Computer</span>
									<span>Oxford High School</span>
								</div>
							</div>
							<!-- End Education Item -->
						</div>
					</div>
				</div>
			</section>
			<!-- End About Section -->

			
			<!-- Specialties Section -->
			<section class="specialty my-5 py-5">
				<div class="container">
					<div class="row" data-aos="fade-up">
						<div class="col-sm-12 text-center">
							<span class="small">What can I do?</span>
							<h2 class="display-4 font-weight-bold mb-4">My Specialties</h2>
						</div>
						<div class="col-sm-12">
							<div class="d-flex justify-content-center text-center">
								<div class="icon-box">
									<div class="shape">
										<i class="ri-database-2-line"></i>
									</div>
									<div class="line"></div>
									<div>Database</div>
								</div>
								<div class="icon-box">
									<div class="shape">
										<i class="ri-checkbox-multiple-line"></i>
									</div>
									<div class="line tall"></div>
									<div>Quality Assurance</div>
								</div>
								<div class="icon-box">
									<div class="shape">
										<i class="ri-computer-line"></i>
									</div>
									<div class="line"></div>
									<div>Computer Engineering</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center">
							<strong class="lead text-secondary mt-5 mb-3 d-block">Professional Skills</strong>
						</div>
						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-right" data-aos="fade-right">
							<div>MySQL</div>
							<div class="sm-dir-reverse">
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-left" data-aos="fade-left">
							<div>Oracle</div>
							<div>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-right" data-aos="fade-right">
							<div>Git</div>
							<div class="sm-dir-reverse">
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-left" data-aos="fade-left">
							<div>HTML</div>
							<div>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-right" data-aos="fade-right">
							<div>CSS</div>
							<div class="sm-dir-reverse">
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-left" data-aos="fade-left">
							<div>JavaScript</div>
							<div>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-right" data-aos="fade-right">
							<div>Database Design</div>
							<div class="sm-dir-reverse">
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-left" data-aos="fade-left">
							<div>Database Optimization</div>
							<div>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-right" data-aos="fade-right">
							<div>Database Security</div>
							<div class="sm-dir-reverse">
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->

						<!-- Skill Item -->
						<div class="col-sm-6 my-2 text-center text-sm-left" data-aos="fade-left">
							<div>Database Administration</div>
							<div>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot fill"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							</div>
						</div>
						<!-- End Skill Item -->
					</div>
				</div>
			</section>
			<!-- End Specialties Section -->

			<!-- Experience Section -->
			<section class="experience my-5">
				<div class="container">
					<div class="row">
						<div class="col-md-6" data-aos="fade-right">
							<span class="small">Where I've been working?</span>
							<h2 class="display-4 font-weight-bold mb-4">Work Experiences</h2>
							<p>I've been working in the industry for the last 7 years!</p>
							<!-- Experience Item -->
							<div class="experience">
								<div class="no">01</div>
								<div class="desc">
									<span>2017 - 2019</span>
									<span>Database Administrator @ IBM</span>
								</div>
							</div>
							<!-- End Experience Item -->
							
							<!-- Experience Item -->
							<div class="experience">
								<div class="no">02</div>
								<div class="desc">
									<span>2015 - 2017</span>
									<span>Web Programmer @ Air bnb</span>
								</div>
							</div>
							<!-- End Experience Item -->

							<!-- Experience Item -->
							<div class="experience">
								<div class="no">03</div>
								<div class="desc">
									<span>2013 - 2015</span>
									<span>Database Designer @ Fubiz</span>
								</div>
							</div>
							<!-- End Experience Item -->

							<!-- Experience Item -->
							<div class="experience">
								<div class="no">04</div>
								<div class="desc">
									<span>2010 - 2013</span>
									<span>Dev Ops @ XFive</span>
								</div>
							</div>
							<!-- End Experience Item -->

							<!-- Experience Item -->
							<div class="experience">
								<div class="no">05</div>
								<div class="desc">
									<span>2008 - 2010</span>
									<span>Database Designer @ FreePics</span>
								</div>
							</div>
							<!-- End Experience Item -->
						</div>
						<div class="col-md-6" data-aos="fade-left">
							<img src="img/experience-600x800.jpg" alt="iPort Image" title="iPort Personal Portfolio" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<!-- End Experience Section -->
			<!-- Hobbies Section -->
			<section class="hobbies my-5 py-5">
				<div class="container">
					<div class="row" data-aos="zoom-in">
						<div class="col-sm-12 text-center">
							<span class="small">What do I like?</span>
							<h2 class="display-4 font-weight-bold mb-4">Hobbies</h2>
						</div>
						<div class="col-sm-12 text-center">
							<!-- Hobbies Item -->
							<span class="hobby">
								<i class="ri-music-2-line"></i>
								<span class="hobby-title">
									Music
								</span>
							</span>
							<!-- End Hobbies Item -->

							<!-- Hobbies Item -->
							<span class="hobby">
								<i class="ri-open-arm-line"></i>
								<span class="hobby-title">
									Gaming
								</span>
							</span>
							<!-- End Hobbies Item -->

							<!-- Hobbies Item -->
							<span class="hobby">
								<i class="ri-movie-line"></i>
								<span class="hobby-title">
									Movie
								</span>
							</span>
							<!-- End Hobbies Item -->

							<!-- Hobbies Item -->
							<span class="hobby">
								<i class="ri-riding-line"></i>
								<span class="hobby-title">
									Riding
								</span>
							</span>
							<!-- End Hobbies Item -->

							<!-- Hobbies Item -->
							<span class="hobby">
								<i class="ri-map-line"></i>
								<span class="hobby-title">
									Travel
								</span>
							</span>
							<!-- End Hobbies Item -->

							<!-- Hobbies Item -->
							<span class="hobby">
								<i class="ri-scissors-2-line"></i>
								<span class="hobby-title">
									Makeup
								</span>
							</span>
							<!-- End Hobbies Item -->
						</div>
					</div>
				</div>
			</section>
			<!-- End Hobbies Section -->

			<!-- Contact Section -->
			<section class="contacts mt-5 py-5">
				<div class="container">
					<div class="row" data-aos="fade-up">
						<div class="col-sm-12 text-center">
							<span class="small">Need to know more?</span>
							<h2 class="display-4 font-weight-bold mb-4">Contact Me</h2>
						</div>
						<div class="col-sm-12 text-center">
							<div class="mb-2">
								<i class="ri-map-pin-line"></i>
								<span>House #3, St. 4, Kabul, Afghanistan</span>
							</div>
							<div class="mb-2">
								<i class="ri-phone-line"></i>
								<span>+93 (0) 711 111 111</span>
							</div>
							<div class="mb-2">
								<i class="ri-computer-line"></i>
								<span>http://me@iport.com</span>
							</div>
						</div>
						<div class="col-sm-12 text-center cp">
							<strong class="d-block">© Copyright 2019 | iPort Portfolio | All Rights Reserved</strong>
							<img src="img/signature-dark.png" alt="My Signature" title="Signature" class="signature mt-2">
						</div>
					</div>
				</div>
			</section>
			<!-- End Contact Section -->
		</main>
		
		<!-- JQuery -->
		<script src="js/jquery-3.4.1.min.js"></script>

		<!-- Custom Cursor Script -->
		<script src="js/custom-cursor.js"></script>

		<!-- Bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Aos Animate -->
		<script src="js/aos.js"></script>
		
		<!-- Main JavaScript -->
		<script src="js/script.js"></script>
	</body>
</html>