<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>iPort Personal Portfolio | Single Blog Page</title>
		<meta name="description" content="Hello, my name is iPort and I am a Personal Portfolio!">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		
		<!-- Remix Icons -->
		<link rel="stylesheet" type="text/css" href="fonts/remixicon.css">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Aos Animate -->
		<link rel="stylesheet" href="css/aos.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="css/styles-dark.css">
		
	</head>
	<body>
		<!-- Menubar -->
		<header class="menu-header">
			<div class="container position-relative">
				<nav class="navbar navbar-expand-lg position-absolute align-items-baseline">
					<a class="navbar-brand d-lg-none" href="#">iPort</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link pl-lg-0" href="index-dark.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="blog-dark.html">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="single-blog-dark.html">Single Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="work-dark.html">Works</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="single-work-dark.html">Single Work</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a href="mailto:iport@gmail.com" class="nav-link"><small><i class="ri-mail-open-line"></i> iport@gmail.com</small></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- End Menubar -->
		
		<main>

			<!-- Page Header Section -->
			<section class="single-blog-header">
				<div class="img-wrapper">
					<img src="img/blog/blog-800x500-2.jpg" alt="Blog Post" class="img-fluid" />
				</div>
				<div class="single-blog-title mt-5 pt-5">
					<div class="container">
						<div class="row">
							<div class="col-sm-10 offset-sm-1 text-center">
								<h1 class="display-4 font-weight-bold mb-3">How to increase convergence?</h1>
								<div class="blog-meta">
									<span class="d-inline-block mr-2">
										<i class="ri-center ri-calendar-2-line"></i> <small class="">24 Jan 2020</small>
									</span class="d-inline-block mr-2">
									<span class="d-inline-block mr-2">
										<i class="ri-center ri-folder-2-line"></i> <small class="">Development</small>
									</span class="d-inline-block mr-2">
									<span class="d-inline-block mr-2">
										<i class="ri-center ri-user-voice-line"></i> <small class="">By: David Fronsky</small>
									</span class="d-inline-block mr-2">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Page Header Section -->
			
			<!-- Single Blog Section -->
			<section class="single-blog my-5 py-5 overflow-x-hidden">
				<div class="container">	
					<div class="row">
						<div class="col-sm-10 offset-sm-1">
							<p class="first-letter">Apotec ipsum dolor sit amet consectetur, adipisicing elit. Aperiam ipsam praesentium accusantium tenetur maxime. Et perferendis dignissimos vel, voluptatum laboriosam fugiat ducimus, laborum id totam impedit corporis pariatur neque blanditiis. Apotec ipsum dolor sit amet consectetur, adipisicing elit. Aperiam ipsam praesentium accusantium tenetur maxime. Et perferendis dignissimos vel, voluptatum laboriosam fugiat ducimus, laborum id totam impedit corporis pariatur neque blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tempora error velit qui, amet ipsum vel pariatur officia voluptates! Doloribus possimus labore magnam sequi autem nam dicta aliquid dolorem architecto.</p>
							<img src="img/blog/blog-800x500-2.jpg" alt="Blog Image" class="img-fluid img-full my-2" />
							<i class="ri-emotion-happy-line ri-center"></i> <small class="">Cute little fox looking for something!</small>
							<p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tempora error velit qui, amet ipsum vel pariatur officia voluptates! Doloribus possimus labore magnam sequi autem nam dicta aliquid dolorem architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tempora error velit qui, amet ipsum vel pariatur officia voluptates! Doloribus possimus labore magnam sequi autem nam dicta aliquid dolorem architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tempora error velit qui, amet ipsum vel pariatur officia voluptates! Doloribus possimus labore magnam sequi autem nam dicta aliquid dolorem architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum tempora error velit qui, amet ipsum vel pariatur officia voluptates! Doloribus possimus labore magnam sequi autem nam dicta aliquid dolorem architecto.</p>
							<blockquote class="blockquote">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							</blockquote>
							<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, accusantium? Sunt illo repellendus minima dignissimos rem. Explicabo nostrum, cumque, repudiandae illum architecto, sapiente atque dolore doloribus neque obcaecati ut assumenda?</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Single Blog Section -->


			<!-- Contact Section -->
			<section class="contacts mt-5 pb-5">
					<div class="container">
						<div class="row" data-aos="fade-up">
							<div class="col-sm-12 text-center">
								<span class="lead font-weight-normal">Need to know more?</span>
								<h2 class="display-4 font-weight-bold mb-4">Contact Me</h2>
							</div>
							<div class="col-sm-12 text-center">
								<div class="mb-2">
									<i class="ri-map-pin-line"></i>
									<address class="d-inline-block">House #3, St. 4, Kabul, Afghanistan</address>
								</div>
								<div class="mb-2">
									<i class="ri-phone-line"></i>
									<a href="tel:+93711111111">+93 (0) 711 111 111</a>
								</div>
								<div class="mb-2">
									<i class="ri-computer-line"></i>
									<span>http://me@iport.com</span>
								</div>
							</div>
							<div class="col-sm-12 text-center cp">
								<strong class="d-block">© Copyright 2020 | iPort Portfolio | All Rights Reserved</strong>
								<img src="img/signature-dark.png" alt="My Signature" title="Signature" class="signature mt-2">
							</div>
						</div>
					</div>
			</section>
			<!-- End Contact Section -->
		</main>
		
		<!-- JQuery -->
		<script src="js/jquery-3.4.1.min.js"></script>

		<!-- Custom Cursor Script -->
		<script src="js/custom-cursor.js"></script>

		<!-- Bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Aos Animate -->
		<script src="js/aos.js"></script>
		
		<!-- Main JavaScript -->
		<script src="js/script.js"></script>
	</body>
</html>