<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>iPort Personal Portfolio | Works Page</title>
		<meta name="description" content="Hello, my name is iPort and I am a Personal Portfolio!">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		
		<!-- Remix Icons -->
		<link rel="stylesheet" type="text/css" href="fonts/remixicon.css">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Aos Animate -->
		<link rel="stylesheet" href="css/aos.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="css/styles-light.css">
		
	</head>
	<body>
		<!-- Menubar -->
		<header class="menu-header">
			<div class="container position-relative">
				<nav class="navbar navbar-expand-lg position-absolute align-items-baseline">
					<a class="navbar-brand d-lg-none" href="#">iPort</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link pl-lg-0" href="index-light.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="blog-light.html">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="single-blog-light.html">Single Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="work-light.html">Works</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="single-work-light.html">Single Work</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a href="mailto:iport@gmail.com" class="nav-link"><small><i class="ri-mail-open-line"></i> iport@gmail.com</small></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- End Menubar -->
		
		<main>

			<!-- Page Header Section -->
			<section class="page-header py-5">
				<div class="container mt-5">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="display-4 font-weight-bold mb-4">My Works</h2>
							<p>Here you can find my works <i class="ri-footprint-line ri-lg ri-center"></i></p>
							<a href="index-light.html" class="link">
								<i class="ri-arrow-left-up-line ri-lg ri-center"></i>
								<span class="small">Back to Home</span>
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End Page Header Section -->
			
			<!-- Work Section -->
			<section class="work my-5 py-5 overflow-x-hidden">
				<div class="container">
					<!-- Work Item -->
					<div class="row mb-5" data-aos="zoom-out">
						<div class="col-md-6 work-item">
							<div class="work-no">01</div>
							<h3 class="my-3">UI/UX design for mobile application</h3>
							<div class="position-relative overflow-hidden">
								<p class="work-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet praesentium.</p>
								<div class="work-meta mb-4">
									<div>
										<i class="ri-center ri-calendar-2-line"></i> <small class="">24 Jan 2020</small>
									</div>
									<div>
										<i class="ri-center ri-folder-2-line"></i> <small class="">Development</small>
									</div>
									<div>
										<i class="ri-center ri-user-voice-line"></i> <small class="">Client: IBM</small>
									</div>
								</div>
							</div>
							<a href="single-work-light.html" class="line-link">View More</a>
						</div>
						<div class="col-md-6">
							<a href="single-work-light.html">
								<img src="img/works/work-800x500-1.jpg" class="img-fluid" alt="Work Title" title="Work Title">
							</a>
						</div>
					</div>
					<!-- End Work Item -->

					<!-- Work Item -->
					<div class="row mb-5" data-aos="zoom-out">
						<div class="col-md-6 work-item">
							<div class="work-no">02</div>
							<h3 class="my-3">Product design for Airbnb</h3>
							<div class="position-relative overflow-hidden">
								<p class="work-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet praesentium.</p>
								<div class="work-meta mb-4">
									<div>
										<i class="ri-center ri-calendar-2-line"></i> <small class="">24 Jan 2020</small>
									</div>
									<div>
										<i class="ri-center ri-folder-2-line"></i> <small class="">Development</small>
									</div>
									<div>
										<i class="ri-center ri-user-voice-line"></i> <small class="">Client: IBM</small>
									</div>
								</div>
							</div>
							<a href="single-work-light.html" class="line-link">View More</a>
						</div>
						<div class="col-md-6">
							<a href="single-work-light.html">
								<img src="img/works/work-800x500-2.jpg" class="img-fluid" alt="Work Title" title="Work Title">
							</a>
						</div>
					</div>
					<!-- End Work Item -->

					<!-- Work Item -->
					<div class="row mb-5" data-aos="zoom-out">
						<div class="col-md-6 work-item">
							<div class="work-no">03</div>
							<h3 class="my-3">Speed optimization for real time app</h3>
							<div class="position-relative overflow-hidden">
								<p class="work-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa amet praesentium.</p>
								<div class="work-meta mb-4">
									<div>
										<i class="ri-center ri-calendar-2-line"></i> <small class="">24 Jan 2020</small>
									</div>
									<div>
										<i class="ri-center ri-folder-2-line"></i> <small class="">Development</small>
									</div>
									<div>
										<i class="ri-center ri-user-voice-line"></i> <small class="">Client: IBM</small>
									</div>
								</div>
							</div>
							<a href="single-work-light.html" class="line-link">View More</a>
						</div>
						<div class="col-md-6">
							<a href="single-work-light.html">
								<img src="img/works/work-800x500-3.jpg" class="img-fluid" alt="Work Title" title="Work Title">
							</a>
						</div>
					</div>
					<!-- End Work Item -->

					<!-- Pagination -->
					<div class="row">
						<div class="col-sm-12">
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><i class="d-flex ri-arrow-left-s-line line-height-1"></i></a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#" aria-label="Next"><i class="d-flex ri-arrow-right-s-line line-height-1"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- End Pagination -->
				</div>
			</section>
			<!-- End Work Section -->


			<!-- Contact Section -->
			<section class="contacts mt-5 pb-5">
					<div class="container">
						<div class="row" data-aos="fade-up">
							<div class="col-sm-12 text-center">
								<span class="lead font-weight-normal">Need to know more?</span>
								<h2 class="display-4 font-weight-bold mb-4">Contact Me</h2>
							</div>
							<div class="col-sm-12 text-center">
								<div class="mb-2">
									<i class="ri-map-pin-line"></i>
									<address class="d-inline-block">House #3, St. 4, Kabul, Afghanistan</address>
								</div>
								<div class="mb-2">
									<i class="ri-phone-line"></i>
									<a href="tel:+93711111111">+93 (0) 711 111 111</a>
								</div>
								<div class="mb-2">
									<i class="ri-computer-line"></i>
									<span>http://me@iport.com</span>
								</div>
							</div>
							<div class="col-sm-12 text-center cp">
								<strong class="d-block">© Copyright 2020 | iPort Portfolio | All Rights Reserved</strong>
								<img src="img/signature-dark.png" alt="My Signature" title="Signature" class="signature mt-2">
							</div>
						</div>
					</div>
			</section>
			<!-- End Contact Section -->
		</main>
		
		<!-- JQuery -->
		<script src="js/jquery-3.4.1.min.js"></script>

		<!-- Custom Cursor Script -->
		<script src="js/custom-cursor.js"></script>

		<!-- Bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Aos Animate -->
		<script src="js/aos.js"></script>
		
		<!-- Main JavaScript -->
		<script src="js/script.js"></script>
	</body>
</html>